h1 Welcome to NodeChat


form
    input(type='text', name='name', placeholder='enter your name')
    input(type='text', name='convo', placeholder='say something')
    input(type='submit')

ul



script(src='/vendor/socket.io-client/socket.io.js')
script(src='/js/main.js')
